# Partie 4 : fichier d'exemple (committé)
# Copie ce fichier en .env (non committé) et remplis les vraies valeurs localement.
# En production, ces valeurs sont fournies via les "Secrets" GitHub Actions.

PORT=3000

# Si USE_MEMORY_DB=true, MONGODB_URI est ignoré et un MongoDB en mémoire est utilisé.
USE_MEMORY_DB=true
MONGODB_URI=mongodb://localhost:27017/etudiants

NODE_ENV=development
